<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Functions</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Модуль</th>
                <th>Функция</th>
                <th>Описание</th>
                <th>Код</th>
            </tr>
        </thead>
        <tbody>
            {% for func in functions %}
                <tr>
                    <td>{{ func.module }}</td>
                    <td>{{ func.name }}</td>
                    <td>{{ func.description }}</td>
                    <td><pre>{{ func.code }}</pre></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
